<div class="body">
<h1 class="heading"> <u>{body.heading}</u>  </h1>
<div class="form">
<form method="delete" action="user">
   &nbsp;&nbsp;&nbsp;&nbsp;  <input type="text" class="display" value="delete"><br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <input type="text" class="display" value="delete"><br>
  phone   &nbsp;&nbsp;&nbsp;&nbsp;  <input type="text"><br>
   &nbsp;&nbsp;&nbsp;&nbsp;  <input type="text" class="display" value="delete"><br>
   <input type="submit" value="submit">
    </form>
</div>
</div>
