<div class="body">
<h1 class="heading"> <u>{body.heading}</u>  </h1>
<div class="form">
  <form method="get" action="user">
     &nbsp;&nbsp;&nbsp;&nbsp;  <input type="text" class="display" value="get"><br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <input type="text" class="display" value="get"><br>
    phone   &nbsp;&nbsp;&nbsp;&nbsp;  <input type="text"><br>
     &nbsp;&nbsp;&nbsp;&nbsp;  <input type="text" class="display" value="get"><br>
     <input type="submit" value="submit">
      </form>

</div>
</div>
